@page "/TODOList"

@using Interfaces
@using Data

@rendermode InteractiveServer

@inject ITodoListService _servise


<h3>ToDo:</h3>
<TodoListAdd />
<button class="btn btn-primary" @onclick="AllList">Все</button>
<button class="btn btn-primary" @onclick="ListCompleted">Выполненые</button>
<button class="btn btn-primary" @onclick="ListActive">Активные</button>

<div>
    <div>Шапка</div>
    <TodoList TodoItems="todoItemsFiltered" TodoListService="_servise"/>
</div>


@code {

    private List<TodoItem> todoItems { get; set; } = new();
    private List<TodoItem> todoItemsFiltered { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await GetAllTodos();
        AllList();
    }

    private async Task GetAllTodos()
    {
        todoItems = await _servise.TODOListGetAllAsync();
    }
    
    private void AllList()
    {
         todoItemsFiltered = todoItems;
    }
    
    void ListCompleted()
    {
        todoItemsFiltered = todoItems.Where(_ => _.Completed).ToList();
    }

    void ListActive()
    {
        todoItemsFiltered = todoItems.Where(_ => !_.Completed).ToList();
    }
    
    void Complete(TodoItem mod)
    {

        var model = _servise.TODOListById(mod.Id);
        if (model.Completed == false)
        {
            model.Completed = true;
            _servise.TODOListUpdated(model);

            ListActive();

        }
        else
        {
            model.Completed = false;
            _servise.TODOListUpdated(model);

            ListCompleted();
        }
    }
    
    void Delete(Guid id)
    {
        _servise.TODOListDeleted(id);
    }
    
    void SetDate(Guid id)
    {        
        _servise.TodoListsUpdated(todoItems);
    }
}