@page "/TaskDescription/{TodoItemId}"

@using SittkoBlazorServer.Data
@using SittkoBlazorServer.Interfaces
@rendermode InteractiveServer
@inject ITodoListService _servise


<h3>TaskDescriptionComponent</h3>

<EditForm Model="@TodoItem" OnValidSubmit="OnValidSubmitt">
    <DataAnnotationsValidator/>
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudStack Class="pa-4" Row="true">
                        <MudCheckBox T="bool" Value="TodoItem.Completed"/>
                        <MudTextField @bind-Value="TodoItem.Name"
                                      For="@(() => TodoItem.Name)"
                                      HelperText="Задача"/>

                    </MudStack>
                    <MudTextField T="DateTime?" Format="yyyy-MM-dd"
                                  Value="TodoItem.CreationDate"
                                  InputType="InputType.Date"
                                  HelperText="Дата создания"/>
                    <MudTextField T="DateTime?" Format="yyyy-MM-dd"
                                  Value="TodoItem.ExecutionDate"
                                  InputType="InputType.Date"
                                  HelperText="Дата закрытия"/>

                    <MudTextField T="string" Label="Добавить заметку" Lines="3"
                                  Variant="Variant.Outlined" Text="@TodoItem.Description"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Material.Filled.Api"/>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>


@code{
    [Parameter] public string TodoItemId { get; set; } ="";
    [Parameter] public TodoItem TodoItem { get; set; } = new TodoItem();

    protected override async Task OnInitializedAsync()
    {
        TodoItem = await _servise.TodoItemByIdAsync(Guid.Parse(TodoItemId));

    }

    private void OnValidSubmitt()
    {

    }

}


