@page "/TodoListAdd"

@using SittkoBlazorServer.Data
@using SittkoBlazorServer.Interfaces
@rendermode InteractiveServer

@inject ITodoListService _servise

<div class="tre g-col-6">
    <EditForm  @ref=form Model="_todoItemComponent" OnValidSubmit="SaveTodoList">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <InputText placeholder="Задача" @bind-Value="_todoItemComponent.Name" spellcheck class="has-validation form-control" />
    </EditForm>
</div>

@code {
    [Parameter] 
    public EventCallback<TodoItem> OnAfterItemAdded { get; set; }

    EditForm form;//?

    private TodoItem _todoItemComponent = new();


    protected override void OnInitialized()
    {
    }

    private async Task SaveTodoList()
    {
        await _servise.TodoTaskCreateVoidAsync(_todoItemComponent);
        await OnAfterItemAdded.InvokeAsync(_todoItemComponent);
        _todoItemComponent = new();
    }

    
    
    
}