@using SittkoBlazorServer.Data
@using SittkoBlazorServer.Interfaces
@rendermode InteractiveServer

<div class="input-group mb-1">
    <div class="input-group-text">
    <InputCheckbox class="form-check-input mt-0" @bind-Value="@TodoItem.Completed" @onclick="CompleteTask"></InputCheckbox>
    </div>
    <InputText class="form-control" disabled="true" @bind-Value="@TodoItem.Name"></InputText>
    <button class="btn btn-outline-secondary " @onclick="Delete">x</button>
</div>

@code {
    [Parameter] 
    public TodoItem TodoItem { get; set; }
    [Parameter]
    public EventCallback<TodoItem> OnAfterItemDeleted { get; set; }
    [Parameter] public ITodoListService TodoListService { get; set; }
    [Parameter]
    public EventCallback<TodoItem> OnAfterItemChange { get; set; }


    public async Task CompleteTask()
    {
        if (TodoItem.Completed)
            TodoItem.ExecutionDate = null;
        else
            TodoItem.ExecutionDate = DateTime.UtcNow;

        await TodoListService.TodoTaskUpdateAsync(TodoItem);
        await OnAfterItemChange.InvokeAsync(TodoItem);
    }

    public async Task Delete()
    {
        await TodoListService.TodoItemByIdDeleteAsync(TodoItem.Id);
        await OnAfterItemDeleted.InvokeAsync(TodoItem);
    }
}