@using SittkoBlazorServer.Data
@using SittkoBlazorServer.Interfaces
@rendermode InteractiveServer

<div>
    <InputCheckbox @bind-Value ="@TodoItem.Completed" @onclick="CompleteTask"></InputCheckbox>
    <InputText disabled="true" @bind-Value="@TodoItem.Name"></InputText>
    <button class="btn btn-primary" @onclick="Delete"></button>
</div>

@code {
    [Parameter] 
    public TodoItem TodoItem { get; set; }
    [Parameter]
    public EventCallback<TodoItem> OnAfterItemDeleted { get; set; }
    [Parameter] public ITodoListService TodoListService { get; set; }
    [Parameter]
    public EventCallback<TodoItem> OnAfterItemChange { get; set; }


    public async Task CompleteTask()
    {
        if (TodoItem.Completed)
            TodoItem.ExecutionDate = null;
        else
            TodoItem.ExecutionDate = DateTime.UtcNow;


        await TodoListService.TodoTaskUpdateAsync(TodoItem);

        await OnAfterItemChange.InvokeAsync(TodoItem);
    }

    public async Task Delete()
    {
        await TodoListService.TodoItemByIdDeleteAsync(TodoItem.Id);
        await OnAfterItemDeleted.InvokeAsync(TodoItem);
    }
}