@page "/TodoListAdd"

@using SittkoBlazorServer.Data
@using SittkoBlazorServer.Interfaces
@rendermode InteractiveServer

@inject ITodoListService _servise

<div>
    <EditForm @ref=form Model="_todoItemComponent" OnValidSubmit="SaveTodoList">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <InputText @bind-Value="_todoItemComponent.Name" class="has-validation"/>
    </EditForm>
</div>

@code {
    [Parameter] 
    public EventCallback<TodoItem> OnAfterItemAdded { get; set; }
    
    EditForm form;
    
    TodoItem _todoItemComponent = new();
    

    protected override void OnInitialized()
    {
    }

    private async Task SaveTodoList()
    {
        await _servise.TodoTaskCreateVoidAsync(_todoItemComponent);
        _todoItemComponent = new();
    }

    
    
    
}`