@page "/TodoListAdd"

@using SittkoBlazorServer.Data
@using SittkoBlazorServer.Interfaces



@inject ITodoListService _servise


<h2>TODOList</h2>
<div>
    <EditForm Model="tODOList" OnValidSubmit="SaveTODOList" >
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputDate @bind-Value="tODOList.CreationDate" class="has-validation" />
        <InputText @bind-Value="tODOList.Name" placeholder="Задача" class="has-validation"/>
        <button type="reset">Сохранить</button>
        
    </EditForm>
    
   
</div>
@code {
    TodoList tODOList = new();
    List<TodoList> allTODOList = new();
   

    protected override void OnInitialized()
    {

    }

    async void SaveTODOListAsync()
    {
        var te = new TodoList
            {
                CreationDate = tODOList.CreationDate,
                Name = tODOList.Name
            };
        var r = await _servise.TODOListCreatedAsync(te);
    }

    void SaveTODOList()
    {
        var te = new TodoList
            {
                CreationDate = tODOList.CreationDate,
                Name = tODOList.Name
            };
        var r = _servise.TODOListCreated(te);
    }
    }