@page "/TodoListAdd"

@using SittkoBlazorServer.Data
@using SittkoBlazorServer.Interfaces
@rendermode InteractiveServer


@inject ITodoListService _servise


<h2>TODOList</h2>
<div>
    <EditForm Model="todoList" OnValidSubmit="SaveTodoList">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <InputDate @bind-Value="todoList.CreationDate" class="has-validation"/>
        <InputText @bind-Value="todoList.Name" class="has-validation"/>
    </EditForm>


</div>

@code {
    TodoList todoList = new();

    protected override void OnInitialized()
    {
    }

    void SaveTodoList()
    {
        var list = new TodoList
        {
            CreationDate = todoList.CreationDate,
            Name = todoList.Name
        };
        var r = _servise.TODOListCreated(list);
        todoList.Name = "";
        todoList.CreationDate = DateOnly.FromDateTime(DateTime.Now);
    }

}`